.div-status-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  label {
    font-weight: 500;
    margin-bottom: 6px;
    text-align: center;
  }

  select {
    width: 60%;
    text-align: center;
    border-radius: 8px;
  }
}
