
<div class="modal fade" id="graficoModal" tabindex="-1" aria-labelledby="graficoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title" id="graficoModalLabel"> Análise por Dispositivos</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        @if (graficos.length > 0) {
          <div class="navegacao">
            <button class="seta" (click)="anterior()">&#9664;</button>

            <div class="info-grafico">
              <h3>{{ graficoSelecionado?.metric?.toUpperCase() }} ({{ graficoSelecionado?.unit?.toUpperCase() }})</h3>
              <p>Dipositivo: {{ graficoSelecionado?.deviceId}}</p>
            </div>

            <button class="seta" (click)="proximo()">&#9654;</button>
          </div>

          <canvas id="chartCanvas" ></canvas>
        } @else {
          <p>Nenhum gráfico encontrado.</p>
        }
      </div>
    </div>
  </div>
</div>
